.store {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    width: 80%;
    margin: 0 auto 0 auto;
    gap: 10px;
}

.product {
    border: solid black 1px;
    background-color: white;
}

.item-description {
    padding: 20px;
    background-color: white;
}

.item-description button {
    background-color: inherit;
    color: white;
    border: solid white 1px;
    padding: 8px;
}

.item-description button:hover {
    background-color: white;
    color: black;
    transition: 0.4s;
}

.success-message {
    display: flex;
    width: 50%;
    background-color: rgb(176, 231, 178);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: solid green 6px;
    margin-left: 110px;
    margin-bottom: 60px;
    border-radius: 4px;
    display: none;
}

.success-message img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.success-message p {
    color: rgb(75, 72, 69);
}


/* Cart Section */
.cart {
    width: 60%;
    margin: 0 auto 0 auto;
}

.cart .cart-item {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.cart .cart-item button {
    width: 50%;
}

.cart .headings {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;;
}

.cart .headings p {
    font-size: large;
}

.cart-wrapper {
	display: flex;
	/* background-color: red; */
	width: 84%;
}
	
.cart-info {
	display: grid;
	grid-template-columns: 50% 50%;
	height: 15vh;
}

#counter-cart-items {
	background-color: red;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	text-align: center;
	margin-left: -6px;
	color: white;
}